@font-face {
  font-family: "Glacial Indifference";
  src: url(./fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: "Moontime";
  src: url(./fonts/MoonTime-Regular.ttf);
}

.App {
  text-align: center;
  font-family: Glacial Indifference;
  font-size: large;
}

.hr-title::before {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 1%;
  height: 2px;
  content: "";
  background-image: linear-gradient(to right, transparent, #814256);
  width: 25%;
}

.hr-title::after {
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 1%;
  height: 2px;
  content: "";
  background-image: linear-gradient(to left, transparent, #814256);
  width: 25%;
}

.NavBar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(255,255,255,.5);
  padding: 5px;
}

a.nav-link {
  color: #814256 !important;
}

#welcome_msg {
  font-family: Moontime;
  font-size: 5.5rem;
}

#profile_pic {
  width: 250px;
  height: auto;
  position: relative;
  border-radius: 50%;
}

#me_description {
  display: inline-block;
  max-width: 75%;
  line-height: 30px;
  margin: 10px;
}

#projects, #contact {
  margin: 10px 5px 10px 5px;
  padding: 5px;
}

.card {
  border-radius: 25px !important;
  height: auto;
  padding: 10px;
  margin: 15px;
  border-style: hidden !important;
}

.card-header {
  padding: 0px !important;
  height: 250px;
  border-radius: 25px !important;
  border-top-left-radius: 25%;
}

.card-img-top {
  border-radius: 25px !important;
  border-top-left-radius: 25%;
}

.card-body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 font-size: medium;
}

.card-footer {
  border-radius: 25px !important;
}

.proj_icons {
  height: 32px;
  width: auto;
  margin-left: 15px;
}

.projDemoVid {
  width: 100% !important;
  height: 100% !important;
}

iframe {
  border-radius: 25px;
}

#projects-title, #contact-title, #my-journey-title, #tech-stack-title {
  font-family: Moontime;
  font-size: 4rem;
  color: #814256;
  margin-top: 50px;
}

.contact-icon {
  height: 80px;
  margin: 10px;
  opacity: .8;
}