@font-face {
  font-family: "Glacial Indifference";
  src: url(./fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: "Moontime";
  src: url(./fonts/MoonTime-Regular.ttf);
}

.App {
  text-align: center;
  font-family: Glacial Indifference;
  font-size: large;
}

.NavBar {
  position: sticky;
  top: 0;
  z-index: 1;
}

a.nav-link {
  color: #814256 !important;
}

#welcome_msg {
  font-family: Moontime;
  font-size: 95px;
}

#profile_pic {
  width: 250px;
  height: auto;
  position: relative;
  top: 25px;
}

#me_description {
  display: inline-block;
  max-width: 75%;
  line-height: 30px;
  margin: 10px;
}