@font-face {
  font-family: "Glacial Indifference";
  src: url(./fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: "Moontime";
  src: url(./fonts/MoonTime-Regular.ttf);
}

.App {
  text-align: center;
  font-family: Glacial Indifference;
  font-size: large;
}

#welcome_msg {
  font-family: Moontime;
  font-size: 95px;
}

#profile_pic {
  width: 250px;
  height: auto;
  position: relative;
  top: 50px;
}
